language: ruby
addons:
  apt:
    packages:
    - libssl-dev
    - libpam-dev
script:
  - script/cibuild
branches:
  only:
  - master
deploy:
  provider: script
  script: script/deploy
  on:
    branch: master
