language: ruby
addons:
  apt:
    packages:
    - libssl-dev
    - libpam-dev
    - cmake
    - libusb-1.0
script:
  - script/cibuild
branches:
  only:
  - master
deploy:
  provider: script
  script: script/deploy
  skip_cleanup: true
  on:
    branch: master
