language: ruby
addons:
  apt:
    packages:
    - libssl-dev
    - libpam-dev
script: script/cibuild
branches:
  only:
  - master
deploy:
  provider: packagecloud
  repository: packages
  username: lstoll
  token:
    secure: rngGRnPmPGaJxvamqx2wr22EJ4CCWnMQYO94G1XQgi5Dw0gEyKgWgfYNDqUI1gwqNVyeCyk3Q76fJERuzdSuZSl717Y3F+wsN86CWjMvEzmBfwhVIypa/FY0E7QN2dVCCHwrLTYOS1VWGjoIRQ0GYUUzpG7YUUSrgIv1qurNx7JRYX0vjmvziI+mqFyreyH36RJ6zUBFD7WNcbvkVgrG3rfrAJrM6ZBgxuwUjmTTYrv3rpPaNJ0hpBRk8yHMU7+W8mo07lGNDcpNAUEIYm5iz3ahi6bk3xry5s1Wr3W7ybSWRJihRUPn5M4DSeDASncsFnQGm0kYoVV4MV0dy4ONivvhWKenAtPzjjJW58wM0K6+9jQlZNx4hJuFO/eCPDwb5TszOuK9WKlKBf+RVo9BjWsJAArLLlcKygqOU6j7sBx/OP+ot1D4GO/Iu3Ouvh4r/5Cuex04F5LYK2uRHR7aIlcKOcCaOYpZeVsm4Ixz3chrkQNZlS3MkgaE0Qrvts6NCwPe/r87E03Ymk1qFQQfTfgX1Gl+cq60Sjr02ixma3iuuzUiIuBl5GXbvC1FghHaQziqsEOtuOKR9CUAAMdwbcIHqWFIx0MsumMwq84T5N3GYOPgcLurFTxyhPqusT4mKzsH4if5TB7huKy2IfU+9VWmNPoGqjKwdfM10CBAlwU=
  dist: ubuntu/trusty
  local-dir: out
